# dependencies
node_modules
.pnpm-store

# next
.next
out

# env
.env
.env.local
.env.*.local
**/defai_registration_details.md
8004_registration/.env
agent/out/

# prisma
prisma/*.db
prisma/*.db-journal
generated/
/generated/prisma

*.tsbuildinfo
